@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-active: var(--sidebar-active);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #e6e6e6;
  --foreground: #ffffff;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: #e63946;
  --primary-foreground: rgba(0, 0, 0, 0.1);
  --primary-hover: #363636;
  --primary-active: #b71c1c;
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-hover: #e66e00;
  --secondary-active: #cc5e00;
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #666666;
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-active: #b71c1c;
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: #e6e6e6;
  --foreground: #ffffff;
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --primary: #e63946;
  --primary-foreground: rgba(0, 0, 0, 0.1);
  --primary-hover: #363636;
  --primary-active: #b71c1c;
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --secondary-hover: #e66e00;
  --secondary-active: #cc5e00;
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #666666;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-active: #b71c1c;
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border focus:!ring-0 focus:!outline-none;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3,
  h4,
  h5,
  i {
    @apply text-xl font-medium;
  }

  input,
  select {
    @apply w-full !shadow-none !border-[1px] !border-black/20 h-10 py-1 px-2 rounded-sm focus:ring-0 focus:outline-none focus-within:shadow-sm focus-within:!border-[1px] focus:!border-black/60 transition-all duration-300;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    @apply cursor-pointer;
  }

  input[readonly] {
    @apply !bg-gray-200;
  }

  /* SideBar Menu Items */
  a[data-slot="sidebar-menu-button"],
  li[data-slot="sidebar-menu-sub-item"] a,
  div[data-sidebar="sidebar"] button[data-slot="collapsible-trigger"] {
    @apply !py-4.5;
  }

  ::selection {
    @apply !bg-blue-500 !text-white;
  }

  /* button select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: base-select;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E")
      white no-repeat 98.5% !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E")
      white no-repeat calc(100% - 10px) !important;

    background-position: right 0.5rem center;
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  select::-ms-expand {
    display: none;
  } */

  /* div[data-slot="dropdown-menu-content"] div[role="menuitem"] {
    @apply hover:bg-[var(--primary)]/40 cursor-pointer transition-colors duration-200;
  }

  div[role="menu"] div[role="menuitemcheckbox"] {
    @apply hover:bg-[var(--background-dark)]/10 cursor-pointer transition-colors duration-200;
  }

  div[role="dialog"] {
    @apply bg-[var(--background)];
  }

  div[role="dialog"] div[data-slot="command-item"] {
    @apply hover:bg-[var(--primary)]/20 cursor-pointer transition-colors duration-200;
  }
  div[data-selected="true"] {
    @apply bg-[var(--primary)]/20;
  } */

  table td,
  table th {
    @apply border-t border-l border-border/20;
  }

  table tr:first-child td,
  table tr:first-child th {
    @apply border-t-0;
  }

  table td:first-child,
  table th:first-child {
    @apply border-l-0;
  }

  .primary-button,
  .secondary-button {
    @apply !rounded-lg !text-sm !font-medium !px-4 !py-2 w-fit;
  }

  .secondary-button {
    @apply !border-2 !border-primary hover:!bg-primary/5 !bg-transparent !text-black;
  }

  .primary-button {
    @apply bg-primary text-white hover:bg-primary/90 disabled:cursor-not-allowed;
  }
}
