<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If a file exists, serve it directly.
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # If the request is for a file that doesn't exist, try adding .html to it.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>

ErrorDocument 404 /404.html